{% extends "company/base.html" %}
{% block content %}
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">基本信息</h5>
          {% if company_info %}
            <ul>
              <li>股票代码：    {{company_info.stock_id}}</li>
              <li>股票简称：    {{company_info.stock_shorter_name}}</li>
              <li>公司全称：    {{company_info.company_full_name}}</li>
              <li>英文名称：    {{company_info.company_english_name}}</li>
              <li>注册地址：    {{company_info.registered_address}}</li>
              <li>行业种类：    {{company_info.industry_type}}</li>
              <li>法定代表人：  {{company_info.legal_representative}}</li>
              <li>发行时间：    {{company_info.listed_time}}</li>
              <li>首次招股时间：{{company_info.IPO_time}}</li>
            </ul>
          {% else %}
            <p>No polls are available.</p>
          {% endif %}
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">公司高管</h5>
          {% if company_excutive %}
          <table class="hoverable bordered responsive-table">
            <thead>
              <tr>
                <th data-field="name">姓名</th>
                <th data-field="post">职位</th>
                <th data-field="birthday">生日</th>
                <th data-field="price">学历</th>
              </tr>
            </thead>
            <tbody>
              {% for excutive_info in company_excutive %}
              <tr >
                <td>{{ excutive_info.name}}</td>
                <td>{{ excutive_info.post}}</td>
                <td>{{ excutive_info.birthday}}</td>
                <td>{{ excutive_info.highest_qualification}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>No excutive are available.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
